$primaryColor: rgb(22, 70, 180);
$secondaryColor: rgb(78, 10, 78);


.div{
    height: 50px;
    width: auto;
    color: $secondaryColor;
    background: url("../images/1200px-Npm-logo.svg.png");
    display: block;
    background-size: contain;
}
.div2{
    font-family: 'Tapestry', cursive;
    font-weight: 400;
    font-size: 50px;
    height: auto;
    background-color: $primaryColor;
    color: $secondaryColor;
    display: flex;
    justify-content: center;
}

src{
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
}